@font-face {
    font-family: 'Splatfont';
    src: url('font/Splatfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'tare';
  src: url('font/Splatfont.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Splatfont', sans-serif;

    background-image: url('images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #222222;
    color: #fff;
  }
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2 {
}

h1 {
  font-family: 'tare';
  text-align: center;
}
h2 {
  font-family: 'tare';
  text-align: center;
}

h2 a {
}

 a {
  font-family: 'tare';
  text-align: center;
  color: #0000ff;
}

p {
    text-align: center;
    margin-top: 50px;
}

script {
  font-family: 'tare';
  text-align: center;
}

.hoge {
  text-align: center;
}